<!DOCTYPE html>

{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ 'Index' }}{% endblock %}

{% block body_block %}
	 {% if user.is_authenticated %}
			<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
			<h1>Rango says... hello world!</h1>
		{% endif %}

        {% if categories %}
			<h3>Top 5 Most Liked Pages</h3>
            <ol>
                {% for category in categories %}
					<li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
            </ol>
			<h3>Top 5 Most Viewed Pages</h3>
			<ol>
				{% for category in categories %}
					<li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ol>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
{% endblock %}